<!DOCTYPE html>
<html>

<head>
    <title>Simple Image Annotation Tool</title>
    <link rel="stylesheet" href="/css/annotate.css" />
    <script src="https://kit.fontawesome.com/9c77ccc682.js" crossorigin="anonymous"></script>
    <link src="/core/dist/style.min.css" rel="stylesheet" />
    <link src="/dashboard/dist/style.min.css" rel="stylesheet" />
    <link src="/uppy/dist/uppy.min.css" rel="stylesheet" />
    <script src="/uppy/dist/uppy.min.js"></script>
</head>
<script src="dist/jquery.min.js"></script>


<script>
    function imgchange(f) {
        var filePath = $('#fileToDetect').val();
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#imgs').attr('src', e.target.result);
            //localStorage.setItem("imageToDetect", reader.result);
        };


        var t = document.getElementById('fileToDetect');

        var img = reader.readAsDataURL(f.files[0]);

        console.log(f.files[0].name);

        var dataaa = { "image": f.files[0].name }
        $.ajax({
            type: "POST",
            url: "http://localhost:4056/ml_connection/detect/",
            data: JSON.stringify(dataaa),
            contentType: 'application/json',
            success: function (res) {
                console.log(res);
                console.log("Added");
            }.bind(this),
            error: function (xhr, status, err) {
                console.error(xhr, status, err.toString());
            }.bind(this)
        });
    }

</script>

<script>
    
    $('#btnDetect').click(function () {
            console.log('Button Clicked');
            $.ajax({
                url: '/annotate',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
            }).done(function (data) {
                console.log(data);
            });
        })

</script>

<body>

    <div id="tool">
        <div id="toolbar">

            <div class="toolbar-buttons">
                <input type="radio" id="button-box" name="tool-select" value="box">
                <label for="button-box" id="box-label"><i class="fas fa-vector-square"></i>BOX</label>
            </div>

            <div class="toolbar-buttons">
                <input type="radio" id="button-polygon" name="tool-select" value="polygon">
                <label for="button-polygon" id="polygon-label"><i class="fas fa-draw-polygon"></i>POLYGON</label>
            </div>

            <div class="toolbar-buttons">
                <input type="radio" id="button-select" name="tool-select" value="select">
                <label for="button-select" id="select-label"><i class="fas fa-arrows-alt"></i>SELECT</label>
            </div>

            <div class="toolbar-buttons">
                <button type="button" id="clear-button" onclick="clearPolygons()"><i
                        class="fas fa-trash-alt"></i>CLEAR</button>
            </div>


        </div>

        <div>
            <select name="animals" id="animals">
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
            </select>
        </div>

        <div id="canvas">
            <canvas id="canvas-draw" width="1000" height="500"></canvas>

        </div>

        <div id="ouput">
            <button type="button" id="output-button" onclick="output()">OUTPUT</button>
        </div>

        <div id="results">
            <p></p>
        </div>

        <!--<div class="col-md-6">
            <form action="#" method="post" enctype="multipart/form-data">

                <img id="imgs" width="170px" height="160px"></img>

                <label for="file">Filename:</label>
                <input type="file" name="file" id="file" accept="image/png, image/gif, image/jpeg, image/jpg" onchange="imgchange(this)">
            </form>
        </div>

        <form action="/ml_connection/detect" method="POST">
            <div>
                <input type="submit" class="btn btn-primary" value="Detect" id="btnUpload" />
            </div>
        </form>
    </div>-->


        <form method="POST" action="/profile-upload-multiple" enctype="multipart/form-data">
            <div>
                <label>Upload multiple images on the server</label>
                <input type="file" name="profile-files" required multiple />
            </div>
            <div>
                <input type="submit" value="Upload" />
            </div>
        </form>


            <div>
                <label>Upload image to detect objects</label>
                <input type="file" name="profile-file" id="fileToDetect" accept="image/png, image/gif, image/jpeg, image/jpg"
                    onchange="imgchange(this)" required />
            </div>
            <div>
                <input type="submit" value="Detect" id="btnDetect"/>
            </div>


        <script src="./annotateBundle.js"></script>
</body>

</html>